*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181719;
  font-family: "Lora", serif;
}
body header.header--mobile {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 20px;
  justify-content: space-between;
  margin-bottom: 30px;
}
body header.header--mobile .header__left .header__logo {
  border: 1px solid #FFFFFF;
  padding: 8px;
}
body header.header--mobile .header__left .header__logo .logo__text {
  font-family: "Crimson Pro", sans-serif;
  font-weight: 200;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
body header.header--mobile .header__right button {
  width: 45px;
  background-color: transparent;
  border: none;
}
body header.header--mobile .nav__menu--mobile--aniOpen {
  animation: 600ms ease-in-out ani-menuOpen;
}
body header.header--mobile .nav__menu--mobile--aniClose {
  animation: 600ms ease-in-out ani-menuClose;
}
body header.header--mobile .nav__menu--mobile {
  display: none;
  position: fixed;
  z-index: 2;
  background-color: #181719;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
body header.header--mobile .nav__menu--mobile button {
  width: 22px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  opacity: 0;
  transition: opacity 2s ease;
}
body header.header--mobile .nav__menu--mobile button.ani-in {
  opacity: 100;
  transition: opacity 2s ease;
}
body header.header--mobile .nav__menu--mobile button.ani-out {
  opacity: 0;
  transition: opacity 500ms ease;
}
body header.header--mobile .nav__menu--mobile .nav--mobile--aniIn {
  opacity: 100;
  transition: opacity 700ms ease;
}
body header.header--mobile .nav__menu--mobile .nav--mobile--aniOut {
  opacity: 0;
  transition: opacity 500ms ease;
}
body header.header--mobile .nav__menu--mobile .nav--mobile {
  opacity: 0;
}
body header.header--mobile .nav__menu--mobile .nav--mobile ul {
  list-style: none;
}
body header.header--mobile .nav__menu--mobile .nav--mobile ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  margin: 32px 0;
}
body header.header--mobile .nav__menu--mobile .nav--mobile ul li a {
  color: #FFFFFF;
  text-decoration-color: transparent;
  transition: 300ms ease;
}
body header.header--mobile .nav__menu--mobile .nav--mobile ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #FFFFFF;
  transition: 600ms ease;
}
body main .articlePreview {
  display: flex;
  flex-direction: column;
}
body main .articlePreview .artPre__content {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-bottom: 30px;
}
body main .articlePreview .artPre__content h1.artPre__title {
  font-weight: 500;
  font-size: 2.25rem;
  color: #FFFFFF;
  margin-bottom: 25px;
}
body main .articlePreview .artPre__content p.artPre__info {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #FFFFFF;
  max-width: 250px;
  margin-bottom: 25px;
}
body main .articlePreview .artPre__content button.artPre__actionBtn {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  max-width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .articlePreview .artPre__content button.artPre__actionBtn svg {
  fill: #FFFFFF;
  margin-left: 15px;
}
body main .articlePreview .artPre__graphics {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body main .articlePreview .artPre__graphics .artPre__img {
  width: 92vw;
  max-width: 530px;
}
body main .articlePreview .artPre__graphics .artPre__card {
  background-color: #181719;
  margin-left: 30px;
  margin-top: -50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding: 17px;
  max-width: 360px;
}
body main .articlePreview .artPre__graphics .artPre__card .card__author {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}
body main .articlePreview .artPre__graphics .artPre__card .card__author img {
  width: 35px;
  height: 35px;
  border-radius: 99px;
}
body main .articlePreview .artPre__graphics .artPre__card .card__author .author__info {
  margin-left: 15px;
}
body main .articlePreview .artPre__graphics .artPre__card .card__author .author__info .author__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: #FFFFFF;
}
body main .articlePreview .artPre__graphics .artPre__card .card__author .author__info .author__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.625rem;
  color: #828282;
}
body main .articlePreview .artPre__graphics .artPre__card .card__text {
  font-weight: 700;
  font-size: 1.125rem;
  color: #FFFFFF;
}
body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding-bottom: 25px;
}
body footer .attribution {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  color: #A9A9A9;
}
body footer .attribution strong {
  font-weight: 700;
  text-decoration: underline;
}

@keyframes ani-menuOpen {
  from {
    height: 0vh;
    width: 0vw;
    left: 50%;
    top: 50%;
  }
  to {
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
  }
}
@keyframes ani-menuLinksIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes ani-menuClose {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
@keyframes ani-menuLinksOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
@media (min-width: 460px) {
  body main .articlePreview .artPre__graphics .artPre__card {
    margin-top: -120px;
  }
}
@media (min-width: 580px) {
  body main .articlePreview .artPre__graphics .artPre__card {
    margin-top: -100px;
    margin-left: 100px;
  }
  body main .articlePreview .artPre__content p.artPre__info {
    max-width: 450px;
  }
}

/*# sourceMappingURL=styles.css.map */
