*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181719;
  font-family: "Lora", serif;
}
body header.header--mobile {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 20px;
  justify-content: space-between;
  margin-bottom: 30px;
}
body header.header--mobile .header__left .header__logo {
  border: 1px solid #ffffff;
  padding: 8px;
}
body header.header--mobile .header__left .header__logo .logo__text {
  font-family: "Crimson Pro", sans-serif;
  font-weight: 200;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #ffffff;
}
body header.header--mobile .header__right button {
  width: 45px;
  background-color: transparent;
  border: none;
}
body header.header--mobile .nav__menu--mobile--aniOpen {
  animation: 600ms ease-in-out ani-menuOpen;
}
body header.header--mobile .nav__menu--mobile--aniClose {
  animation: 600ms ease-in-out ani-menuClose;
}
body header.header--mobile .nav__menu--mobile {
  display: none;
  position: fixed;
  z-index: 2;
  background-color: #181719;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
body header.header--mobile .nav__menu--mobile button {
  width: 22px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  opacity: 0;
  transition: opacity 2s ease;
}
body header.header--mobile .nav__menu--mobile button.ani-in {
  opacity: 100;
  transition: opacity 2s ease;
}
body header.header--mobile .nav__menu--mobile button.ani-out {
  opacity: 0;
  transition: opacity 500ms ease;
}
body header.header--mobile .nav__menu--mobile .nav--mobile--aniIn {
  opacity: 100;
  transition: opacity 700ms ease;
}
body header.header--mobile .nav__menu--mobile .nav--mobile--aniOut {
  opacity: 0;
  transition: opacity 500ms ease;
}
body header.header--mobile .nav__menu--mobile .nav--mobile {
  opacity: 0;
}
body header.header--mobile .nav__menu--mobile .nav--mobile ul {
  list-style: none;
}
body header.header--mobile .nav__menu--mobile .nav--mobile ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  margin: 32px 0;
}
body header.header--mobile .nav__menu--mobile .nav--mobile ul li a {
  color: #ffffff;
  text-decoration-color: transparent;
  transition: 300ms ease;
}
body header.header--mobile .nav__menu--mobile .nav--mobile ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #ffffff;
  transition: 600ms ease;
}
body main .articlePreview {
  display: flex;
  flex-direction: column;
}
body main .articlePreview .artPre__content {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-bottom: 30px;
}
body main .articlePreview .artPre__content h1.artPre__title {
  font-weight: 500;
  font-size: 2.25rem;
  color: #ffffff;
  margin-bottom: 25px;
}
body main .articlePreview .artPre__content p.artPre__info {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #ffffff;
  max-width: 250px;
  margin-bottom: 25px;
}
body main .articlePreview .artPre__content button.artPre__actionBtn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  max-width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .articlePreview .artPre__content button.artPre__actionBtn svg {
  fill: #ffffff;
  margin-left: 15px;
}
body main .articlePreview .artPre__graphics {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body main .articlePreview .artPre__graphics .artPre__img {
  width: 92vw;
  max-width: 530px;
}
body main .articlePreview .artPre__graphics .artPre__card {
  background-color: #181719;
  margin-left: 30px;
  margin-top: -50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding: 17px;
  max-width: 360px;
}
body main .articlePreview .artPre__graphics .artPre__card .card__author {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}
body main .articlePreview .artPre__graphics .artPre__card .card__author img {
  width: 35px;
  height: 35px;
  border-radius: 99px;
}
body main .articlePreview .artPre__graphics .artPre__card .card__author .author__info {
  margin-left: 15px;
}
body main .articlePreview .artPre__graphics .artPre__card .card__author .author__info .author__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: #ffffff;
}
body main .articlePreview .artPre__graphics .artPre__card .card__author .author__info .author__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.625rem;
  color: #828282;
}
body main .articlePreview .artPre__graphics .artPre__card .card__text {
  font-weight: 700;
  font-size: 1.125rem;
  color: #ffffff;
}
body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding-bottom: 25px;
}
body footer .attribution {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  color: #a9a9a9;
}
body footer .attribution strong {
  font-weight: 700;
  text-decoration: underline;
}

@keyframes ani-menuOpen {
  from {
    height: 0vh;
    width: 0vw;
    left: 50%;
    top: 50%;
  }
  to {
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
  }
}
@keyframes ani-menuLinksIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes ani-menuClose {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
@keyframes ani-menuLinksOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
@media (min-width: 460px) {
  body main .articlePreview .artPre__graphics .artPre__card {
    margin-top: -120px;
  }
}
@media (min-width: 580px) {
  body main .articlePreview .artPre__graphics .artPre__card {
    margin-top: -100px;
    margin-left: 100px;
  }
  body main .articlePreview .artPre__content p.artPre__info {
    max-width: 450px;
  }
}
header.header--desktop {
  display: flex;
  justify-content: space-between;
  margin: 46px 75px 0 75px;
}
header.header--desktop .header__logo {
  border: 1px solid #ffffff;
  padding: 8px;
}
header.header--desktop .header__logo .logo__text {
  font-family: "Crimson Pro", sans-serif;
  font-weight: 200;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #ffffff;
}
header.header--desktop nav {
  display: flex;
  list-style: none;
  width: 550px;
  justify-content: space-between;
}
header.header--desktop nav li {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-decoration: none;
}
header.header--desktop nav li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: font-weight 150ms ease-in-out, text-decoration 150ms ease-in-out;
}
header.header--desktop nav li a:hover {
  text-decoration: underline;
  transition: font-weight 150ms ease-in-out, text-decoration 150ms ease-in-out;
  font-weight: 700;
}

@media screen and (min-width: 750px) {
  body main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  body main .articlePreview {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  body main .articlePreview .artPre__content {
    margin-left: 77px;
    margin-right: 60px;
    margin-bottom: 0;
    flex-grow: 0.5;
  }
  body main .articlePreview .artPre__content h1.artPre__title {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  body main .articlePreview .artPre__content p.artPre__info {
    font-size: 1.5rem;
    line-height: 29.26px;
    margin-bottom: 48px;
    max-width: 410px;
  }
  body main .articlePreview .artPre__content button.artPre__actionBtn {
    font-size: 1.125rem;
  }
  body main .articlePreview .artPre__graphics {
    width: fit-content;
    margin-right: 50px;
  }
  body main .articlePreview .artPre__graphics .artPre__img {
    width: 80vh;
    max-width: 821px;
  }
  body main .articlePreview .artPre__graphics .artPre__card {
    margin-left: 170px;
    width: 410px;
    padding: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
