*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 4.4375rem;
    margin-left: .75rem;
}

.header__title {
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    letter-spacing: -0.045em;
    margin-bottom: 2.375rem;
}

.header__desc {
    margin-top: 2.375rem
}

.header__descTitle {
    font-weight: 600;
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: .625rem;
}

.header__descText {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.3125rem;
    width: 75%;
    margin-top: .625rem;
}

.teamGrid__wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    margin-top: 2.8125rem;
    margin-bottom: 8.4375rem;
}

.teamGrid__card {
    display: flex;
    justify-content: left;
}

.teamGrid__card:nth-child(even) {
    margin-top: 45px;
    margin-left: 1.5625rem;
}

.card__person {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 36vw;
    max-width: 238px;
}

.card__img {
    max-width: 238px;
    margin-bottom: .3125rem;
}

.card__name {
    font-weight: 600;
    font-size: .875rem;
    color: black;
    margin-top: .3125rem;
}

.card__title {
    writing-mode: vertical-lr;
    font-family: 'PT Serif', sans-serif;
    text-transform: uppercase;
    font-size: .625rem;
    color: black;
    margin-left: .375rem;
}

footer {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #A9A9A9;
    font-weight: 500;
    margin-bottom: inherit
}

.attribution__highlight {
    text-decoration: underline;
    font-weight: 700;
    color: inherit;
}

/* Media Queries */

@media screen and (min-width: 400px) {
    .card__name {
        font-size: 1rem;
    }

    .card__title {
        font-size: .75rem;
    }
}

@media screen and (min-width: 650px) {
    .card__name {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 1000px) {
    .teamGrid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr); 
    }
    
    .teamGrid__card:nth-child(even) {
        margin-top: 0;
        margin-left: 0;
    }

    .teamGrid__card:nth-child(2) {
        margin-top: 95px;
        margin-left: 1.5625rem;
    }

    .teamGrid__card:nth-child(5) {
        margin-top: 95px;
        margin-left: 1.5625rem;
    }

    .teamGrid__card:nth-child(6) {
        margin-left: 1.5625rem;
    }

    .teamGrid__card:nth-child(3) {
        margin-left: 1.5625rem;
    }


    header {
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .header__descText {
        width: 450px;
        font-size: 1.125rem;
        line-height: 1.6875rem;
    }

}