// Variables

// Styles

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

    header {
        margin: 4.4375rem 0 2.0625rem .75rem;
        display: flex;
        flex-direction: column;

        h1 {
            font-family: 'PT Serif';
            font-weight: 700;
            font-size: 2.25rem;
            letter-spacing: -0.045em;
            color: black;
            margin-bottom: 2.375rem;
        }

        .desc {
            h2 {
                font-weight: 600;
                font-size: 1.125rem;
                text-transform: uppercase;
                color: black;
                margin-bottom: .625rem;
            }
            
            p {
                font-weight: 400;
                font-size: .875rem;
                line-height: 1.3125rem;
                color: black;
                max-width: 333px;
            }
        }
    }

    main {
        margin: auto;
        .card-grid {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 1.25rem;
            grid-row-gap: 1.875rem; 
            .card {
                display: flex;
                flex-direction: column;

                figure {
                    display: flex;
                    margin-bottom: .625rem;

                    img {
                        height: 13.125rem;
                        margin-right: .4063rem;
                    }

                    figcaption {
                        writing-mode: vertical-rl;
                        text-orientation: mixed;
                        font-family: 'PT Serif', serif;
                        text-transform: uppercase;
                        font-size: .625rem;
                    }
                }

                p {
                    font-weight: 600;
                    font-size: .875rem;
                }
            }

            .card:nth-child(even) {
                margin-top: 3.125rem;
            }
        }
    }

    footer {
        margin-top: 6.25rem;
        margin-bottom: 1.5rem;
        p {
            font-family: 'Montserrat', sans-serif;
            font-size: .875rem;
            text-align: center;
            font-weight: 500;
            color: hsla(0, 0%, 66%, 1);  
        }
    }
}

// Large Breakpoint
@media (min-width: 1000px) {
    body {
        header {
            margin: 6.875rem 0 1.875rem 15.1875rem;
            flex-direction: row;
            h1 {
                margin-right: 13.4375rem;
                margin-bottom: 0;
            }
            .desc {
                p {
                    max-width: 25rem;
                }
            }
        }

        main {
            .card-grid {
                
            }
        }
    }
}