.container {
    margin-top: 38px;
}

.title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: #333333;
    margin-bottom: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 450px) {
    .title {
        font-size: 1rem;
    }
}