.recipeInfo {
    margin-left: 195px;
    padding: 57px 55px 50px 43px;
    height: fit-content;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.recipeInfoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 43px;
}

.infoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 43px;
}

.infoItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoText {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.infoDesc {
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.infoAmountAccent {
    font-weight: 500;
    font-size: 14px;
    color: #F2994A;
}

.infoAmount {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

@media (max-width: 1060px) {
    .recipeInfo {
        margin-left: 0;
        padding: 30px 20px 30px 20px;
        width: fit-content;
        width: 90vw;
    }

    .recipeInfoList {
        flex-direction: row;
        column-gap: 10vw;
    }

    .infoSection {
        flex-direction: row;
        column-gap: 10vw;
    }
}

@media (max-width: 700px) {
    .recipeInfoList {
        flex-direction: column;
        align-items: center;
    }

}